<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-12 p-0 d-flex image-style flex-column align-items-center">
            <img src="../public/images/Big-Mac.png" alt="Big-Mac">
            <h1>Eat-da-Burger</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 px-5 mt-3 ordered ordered-hide d-flex justify-content-end">
            {{#each data.[0].ordered}}
            <h6 class="w-50 p-2 px-3">{{id}} {{burger_name}}</h6>
            <button class="ml-3 btn h-75 px-3 py-0 my-0">Devour!!!</button>
            {{/each}}
        </div>
        <div class="col-6 devoured devoured-hide px-5 mt-3">
            {{#each data.devoured}}
            <p class="w-50 float-left p-1 px-3">{{id}} {{burger_name}}</p>
            {{/each}}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 row-3 d-flex flex-column align-items-center">
            <input type="text" class="input form-control w-25">
            <button class="button mt-2 ml-3 btn px-3 my-0">Enter Your Favourite Burger</button>
        </div>
    </div>
</div>